[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
isort = "*"

[packages]
pygame = "==2.0.0.dev12"
pytmx = "*"
pygame-gui = "*"
pyscroll = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
